.slider {
  display: flex;
  justify-content: center;
  height: 100%;
}

.slider-tizzers .slick-dots {
  display: flex;
  justify-content: center;
  gap: 6px;
  list-style: none;
  padding: 0;
  margin: 0;
  z-index: 10;
}

.slider-tizzers .slick-dots li {
  position: relative;
  padding: 3px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.slider-tizzers .slick-dots button{
  width: 12px;
  height: 12px;
  border-radius: 50%;
  font-size: 0;
  padding: 0;
  border: none;
  background: rgba(85, 121, 190, 0.5);
}

.slider-tizzers .slick-dots li.slick-active button {
  background-color: #5579BE;
} 

.slider-tariff-grid .slick-dots {
  display: flex;
  justify-content: center;
  gap: 6px;
  list-style: none;
  padding: 0;
  margin: 0;
  z-index: 10;
}

.slider-tariff-grid .slick-dots li {
  position: relative;
  padding: 3px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.slider-tariff-grid .slick-dots button{
  width: 12px;
  height: 12px;
  border-radius: 50%;
  font-size: 0;
  padding: 0;
  border: none;
  background: rgba(85, 121, 190, 0.5);
}

.slider-tariff-grid .slick-dots li.slick-active button {
  background-color: #5579BE;
} 

.slider-tariff-grid--alt .slick-dots {
  display: flex;
  justify-content: center;
  gap: 6px;
  list-style: none;
  padding: 0;
  margin: 0;
  z-index: 10;
}

.slider-tariff-grid--alt .slick-dots li {
  position: relative;
  padding: 3px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.slider-tariff-grid--alt .slick-dots button{
  width: 12px;
  height: 12px;
  border-radius: 50%;
  font-size: 0;
  padding: 0;
  border: none;
  background: rgba(85, 121, 190, 0.5);
}

.slider-tariff-grid--alt .slick-dots li.slick-active button {
  background-color: #5579BE;
} 


  .slick-track {
    display: flex;
    gap: 20px;
    align-items: stretch;
  }

  @media(max-width: 600px) {
    .slick-track {
      gap: 0;
    }

    .partners__slider .slick-track {
      gap: 20px;
    }
 }
  .slick-list {
    overflow: hidden;
  }

  @media(max-width: 599px) {
    .slick-slide {
      padding-right: 3px;
    }
  }
  
  .slick-arrow {
    position: absolute;
    bottom: 0;
    width: 86px;
    height: 86px;
    z-index: 10;
    font-size: 0;
  }
  
  @media(max-width: 768px) {
     .slick-arrow {
      width: 70px;
      height: 70px;
    }
  }
  
   .slick-arrow.slick-prev {
    left: 0;
    background: url('../img/arrow_left.svg') 0 0 / 100% no-repeat;
  }
   .slick-arrow.slick-next {
    right: 0;
   background: url('../img/arrow_right.svg') 0 0 / 100% no-repeat;
  }

  .slick-dots {
    position: absolute;
    bottom: 30px;
    display: flex;
    justify-content: center;
    gap: 6px;
    left: 50%;
    transform: translateX(-50%);
    list-style: none;
    padding: 0;
    margin: 0;
    z-index: 10;
  }
  
  .slick-dots li {
    position: relative;
    padding: 3px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .slick-dots button{
    width: 12px;
    height: 12px;
    border-radius: 50%;
    font-size: 0;
    padding: 0;
    background: #F6F7FA;
    border: 1px solid rgba(0, 0, 0, 0.1);
  }
  
  .slick-dots li.slick-active button {
    background-color: #7AC5CD;
  } 

/* Скрыть дополнительные точки */
.slick-dots li:nth-child(n+6) {
  display: none;
}

/* Стили для активной точки */
.slick-dots li.slick-active {
  display: flex; /* Отображаем активную точку */
}